---
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
PointerAlignment: Left
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpacesInSquareBrackets: 'false'
UseTab: ForContinuationAndIndentation

...
