*.user
*.suo
*.sdf
*.opensdf
*.aps
*.db
*.opendb
*.log
*.tlog

/ipch
/bin_*
/.vs
/common/cuda/.vs
/.old
/.backup
/Win32
/x64
/.testing
/.releases
/GUI/.vs
/GUI/HopperRenderExporter/.vs
/GUI/HopperRenderExporter/bin
/GUI/HopperRenderExporter/obj